@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.color {
  position: relative;

  &__square {
    position: relative;
    width: 100%;
    border-radius: 0.18rem;
    border: solid white 1px;
  }

  &__square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__checkmark {
    position: absolute;
    width: 20%;
    height: 20%;
    top: -4%;
    right: -4%;
    z-index: 1;
    visibility: visible;
    display: flex;
  }

  :hover {
    cursor: pointer;
  }
}