<div
  ngbDropdown
  class="color-picker d-inline-block"
  (openChange)="onOpenChange($event)"
>
  <label class="color-picker__title">{{ label }}</label>
  <button
    type="button"
    class="btn color-picker__btn-outline-primary color-picker__dropdown-toggle"
    id="colorpalette"
    ngbDropdownToggle
  >
    <div class="color-picker__selected">
        <div class="color-picker__selected-square"
          [ngStyle]="{ 'background-color': selectedColor?.color }"
        ></div>      
    </div>
    <mat-icon class="color-picker__arrow" *ngIf="!arrowUp" fontIcon="expand_more"></mat-icon>
    <mat-icon class="color-picker__arrow" *ngIf="arrowUp" fontIcon="expand_less"></mat-icon>
  </button>
  <div
    ngbDropdownMenu
    aria-labelledby="colorpalette"
    class="color-picker__dropdown-menu"  >
      <app-colors-grid
        [colors]="colors"
        (selected)="onSelectedColor($event)"
      ></app-colors-grid>
  </div>
</div>
