<div
  ngbDropdown
  class="color-picker d-inline-block"
  (openChange)="onOpenChange($event)"
>
  <label class="color-picker__title">{{ label }}</label>
  <button
    type="button"
    class="btn color-picker__btn-outline-primary color-picker__dropdown-toggle"
    id="colorpalette"
    ngbDropdownToggle
  >
    <div class="color-picker__selected">
      <ng-container [ngSwitch]="model.updateType">
        <div
          *ngSwitchCase="ColorUpdateType.Font"
          class="color-picker__selected-square"
          [ngStyle]="{ 'background-color': selectedColor?.color }"
        ></div>
        <div
          *ngSwitchCase="ColorUpdateType.Theme"
          class="color-picker__selected-square"
          [ngStyle]="{
            color: selectedColor?.color,
            'background-color': selectedColor?.backgroundColor
          }"
        >
          <span>Aa</span>
        </div>
      </ng-container>
    </div>
    <mat-icon [ngStyle]="{'color': 'white'}" class="color-picker__arrow" *ngIf="arrowUp" fontIcon="home"></mat-icon>
    <mat-icon [ngStyle]="{'color': 'white'}" class="color-picker__arrow" *ngIf="!arrowUp" fontIcon="home"></mat-icon>
  </button>
  <div
    ngbDropdownMenu
    aria-labelledby="colorpalette"
    class="color-picker__dropdown-menu"
  >
    <ng-container [ngSwitch]="model.updateType">
      <app-colors-grid
        *ngSwitchCase="ColorUpdateType.Font"
        [colors]="model.colors"
        (selected)="onSelectedColor($event)"
      ></app-colors-grid>
      <app-colors-theme-grid
        *ngSwitchCase="ColorUpdateType.Theme"
        [colors]="model.colors"
        (selected)="onSelectedColor($event)"
      ></app-colors-theme-grid>
    </ng-container>
  </div>
</div>
